<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<body>
    <form action="/board/save" method="post" th:object="${board}" enctype="multipart/form-data">
        작성자 : <input type="text" name ="memberEmail" th:value="${session.loginEmail}" readonly> <br>
        제목 : <input type="text" th:field="*{boardTitle}">  <br>
        내용 : <input type="text" th:field="*{boardContents}">  <br>
        <input type="file" id="memberProfile" th:field="*{boardFile}">  <br>
        <input type="submit" value="글작성">

    </form>
</body>
</html>